.ol {
   font-family: "arial":
    font-weight: lighter;
    font-size: 20px;
    display:inline-block;
    left:10px;
}

.pic1 {
    width:300px;
    display:inline-block;
    left:-50px;
    top:-50px;
}
.pic2 {
    width:300px;
    display:inline-block;
    left:20px;
    top:200px;
}
.pic3 {
    width:300px;
    display:inline-block;
    left:20px;
    top:350px;
}
.pic4 {
    width:300px;
    display:inline-block;
    left:20px;
    top:500px;
}